.headerTitle {
  display:flex;
  justify-content: center;
}

.buttons {
  display:flex;
  justify-content: center;
}


.Counter-row {
  display:flex;
  float:left;
  justify-content: space-between;

}

